In [1]:
import pandas as pd

In [3]:
ibge_url = 'https://gist.githubusercontent.com/tgcsantos/85f8c7b0a2edbc3e27fcad619b37d886/raw/a4954781e6bca9cb804062a3eea0b3b84679daf4/Basico_SP1.csv'
ibge_sp = pd.read_csv(ibge_url, encoding = 'ISO-8859-1', sep = ';', thousands = '.', decimal = ',')
ibge_sp.dropna(how = 'all', axis = 1, inplace = True)
ibge_sp.head()

,Cod_setor,Cod_Grandes Regiï¿½es,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,355030801000001,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.01,2.32,2091.32,8532451.78,2164.55,8673276.78,1227.41,4285771.99,1713.75,5152087.86
1,355030801000002,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,2.98,2.09,1650.09,3983441.31,1717.44,4030519.99,1045.78,2572133.32,1468.08,2991546.94
2,355030801000003,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.31,3.08,1280.43,5474593.06,2349.53,7553913.02,902.97,2735492.52,1786.79,3837674.74
3,355030801000004,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.16,2.26,1119.59,3572955.10,1859.13,4567289.50,869.09,2122409.02,1567.41,2735383.24
4,355030801000005,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.14,2.35,1416.90,2240207.58,1581.66,2240109.39,917.71,1570047.75,1356.35,1725877.85

In [4]:
ibge_sp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18363 entries, 0 to 18362
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Cod_setor              18363 non-null  int64
 1   Cod_Grandes Regiï¿½es  18363 non-null  int64
 2   Nome_Grande_Regiao     18363 non-null  object
 3   Cod_UF                 18363 non-null  int64
 4   Nome_da_UF             18363 non-null  object
 5   Cod_meso               18363 non-null  int64
 6   Nome_da_meso           18363 non-null  object
 7   Cod_micro              18363 non-null  int64
 8   Nome_da_micro          18363 non-null  object
 9   Cod_RM                 18363 non-null  int64
 10  Nome_da_RM             18363 non-null  object
 11  Cod_municipio          18363 non-null  int64
 12  Nome_do_municipio      18363 non-null  object
 13  Cod_distrito           18363 non-null  int64
 14  Nome_do_distrito       18363 non-null  object
 15  Cod_subdistrito        18363 non-null  int64
 16  Nome_do_subdistrito    18363 non-null  object
 17  Cod_bairro             18363 non-null  int64
 18  Nome_do_bairro         18363 non-null  object
 19  Situacao_setor         18363 non-null  int64
 20  Tipo_setor             18363 non-null  int64
 21  V001                   18333 non-null  float64
 22  V002                   18333 non-null  float64
 23  V003                   18333 non-null  float64
 24  V004                   18333 non-null  float64
 25  V005                   18333 non-null  float64
 26  V006                   18333 non-null  float64
 27  V007                   18324 non-null  float64
 28  V008                   18324 non-null  float64
 29  V009                   18363 non-null  float64
 30  V010                   18363 non-null  float64
 31  V011                   18352 non-null  float64
 32  V012                   18352 non-null  float64
dtypes: float64(12), int64(12), object(9)
memory usage: 4.6+ MB